//Google Font
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
	font-family: HelveticaLight;
	src: url("../fonts/helvetica/HelveticaNeue-Light.otf") format("opentype");
}

// Variables to quickly and easily change the accent colour across the site.
$red : #E53A40;
$blue: #30A9DE;
$gray : #EFFFE9;
$darkBlue : #011627;
$shadowColor: #712625;
$white : #fff;

//Convo Colors
$lightBlue: #D5DBEB; 
$notYou: #D5DBEB;

//Include-Media mixin variables
$breakpoints: (very-small: 663px, small: 791px, medium: 985px, large: 1273px);
