//Google Font
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
font-family: HelveticaLight;
// src: url("../fonts/helvetica/HelveticaNeue-Thin.otf") format("opentype");
src: url("../fonts/helvetica/HelveticaNeue-Light.otf") format("opentype");
// src: url("../fonts/helvetica/HelveticaNeue-Thin.otf") format("opentype");
}

// Variables to quickly and easily change the accent colour across the site.
// $red : #E71D36;
// $blue: #2EC4B6;
// $gray : #EFFFE9;
// $darkBlue : #011627;
// $shadowColor: #712625;

// Variables to quickly and easily change the accent colour across the site.
$red : #E53A40;
$blue: #30A9DE;
$gray : #EFFFE9;
$darkBlue : #011627;
$shadowColor: #712625;

$lightBlue: #D5DBEB;
$notYou: #D5DBEB;

// Variables to quickly and easily change the accent colour across the site.
// $white : #e1eef6;
// $red: #ff5f2e;
// $yellow : #fcbe32;
// $darkBlue : #004E66;

// Variables to quickly and easily change the accent colour across the site.
// $gray : #d3e0f7;
// $red: #c72e45;
// $darkRed : #a6172d;
// $darkBlue : #181842;

$white : #fff;




// $fontSize : 5.5vw;
// $circlesColliding : 700px;

//Include-Media mixin variables
$breakpoints: (very-small: 663px, small: 791px, medium: 985px, large: 1273px);
