@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
  font-family: HelveticaLight;
  src: url("../fonts/helvetica/HelveticaNeue-Light.otf") format("opentype");
}
/* line 7, ../sass/style.scss */
html, body {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100%;
}

/* line 13, ../sass/style.scss */
.container {
  background-color: #E53A40;
  width: inherit;
  height: inherit;
}

/* line 19, ../sass/style.scss */
.title {
  -moz-box-shadow: #712625 0px 2px 12px 2px;
  -webkit-box-shadow: #712625 0px 2px 12px 2px;
  box-shadow: #712625 0px 2px 12px 2px;
  color: #fff;
  font-size: 2.7rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  -moz-border-radius-bottomleft: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #30A9DE;
  width: 70%;
  padding: 2.5rem;
  padding-top: 1.7rem;
}
@media (max-width: 1272px) {
  /* line 19, ../sass/style.scss */
  .title {
    width: 90%;
    padding: 2.1rem;
    padding-top: 1.3rem;
  }
}
@media (max-width: 985px) {
  /* line 19, ../sass/style.scss */
  .title {
    width: 100%;
    padding: 1.7rem;
    padding-top: 0.9rem;
    font-size: 2.4rem;
  }
}
@media (max-width: 791px) {
  /* line 19, ../sass/style.scss */
  .title {
    padding: 1.3rem;
    padding-top: 0.5rem;
    font-size: 2rem;
  }
}
@media (max-width: 663px) {
  /* line 19, ../sass/style.scss */
  .title {
    padding: 0.4rem;
    padding-bottom: 1rem;
    font-size: 1.65rem;
  }
}

/* line 51, ../sass/style.scss */
.voteColumn {
  margin-top: 12rem;
}

/* line 55, ../sass/style.scss */
.voteText {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: 1rem;
}

/* line 60, ../sass/style.scss */
.vote {
  -moz-box-shadow: #712625 0px 2px 12px 2px;
  -webkit-box-shadow: #712625 0px 2px 12px 2px;
  box-shadow: #712625 0px 2px 12px 2px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 10rem;
  height: 10rem;
  color: #fff;
  border: solid 5px;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0.3rem;
}
/* line 71, ../sass/style.scss */
.vote:focus, .vote:active {
  -moz-box-shadow: #712625 0px 0px 0px 0px;
  -webkit-box-shadow: #712625 0px 0px 0px 0px;
  box-shadow: #712625 0px 0px 0px 0px;
  margin-top: 1.2rem;
  margin-bottom: 0.1rem;
}

/* line 79, ../sass/style.scss */
.upvotes {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-family: monospace;
}

/* line 84, ../sass/style.scss */
.convoContainer {
  background-color: #EFFFE9;
  margin-top: 4rem;
  overflow: hidden;
  height: 45rem;
}

/* line 92, ../sass/style.scss */
.context {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
  background-color: #30A9DE;
  padding: 1rem;
}

/* line 99, ../sass/style.scss */
.convo {
  background-color: #fff;
  padding-top: 1rem;
  height: 100%;
}

/* line 105, ../sass/style.scss */
.you {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
  background-color: #43B3FE;
  color: #fff;
}

/* line 110, ../sass/style.scss */
.notYou {
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
  background-color: #E7E6EC;
  color: #99989D;
}

/* line 115, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 116, ../sass/style.scss */
.line {
  margin-bottom: 1rem;
  font-family: "HelveticaLight";
  font-size: 1.67rem;
}

/* line 121, ../sass/style.scss */
i.em {
  margin-top: -4px;
}

/* line 123, ../sass/style.scss */
.you {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  margin-right: 1rem;
}
/* line 131, ../sass/style.scss */
.you:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
/* line 143, ../sass/style.scss */
.you:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

/* line 156, ../sass/style.scss */
.notYou {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
  margin-left: 1rem;
}
/* line 164, ../sass/style.scss */
.notYou:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
/* line 175, ../sass/style.scss */
.notYou:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}
