@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
@font-face {
  font-family: HelveticaLight;
  src: url("../fonts/helvetica/HelveticaNeue-Light.otf") format("opentype");
}
/* line 7, ../sass/style.scss */
html, body {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100%;
}

/* line 13, ../sass/style.scss */
.container {
  background-color: #E53A40;
  width: inherit;
  height: inherit;
}

/* line 19, ../sass/style.scss */
.titleWrapper {
  -moz-box-shadow: #712625 0px 2px 12px 2px;
  -webkit-box-shadow: #712625 0px 2px 12px 2px;
  box-shadow: #712625 0px 2px 12px 2px;
  -moz-border-radius-bottomleft: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #30A9DE;
  width: 60%;
  padding: 1.5rem;
  padding-top: 1.3rem;
}
@media (max-width: 985px) {
  /* line 19, ../sass/style.scss */
  .titleWrapper {
    width: 80%;
  }
}
@media (max-width: 791px) {
  /* line 19, ../sass/style.scss */
  .titleWrapper {
    width: 85%;
  }
}

/* line 36, ../sass/style.scss */
.title {
  color: #fff;
  font-size: 3.7rem;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}

/* line 39, ../sass/style.scss */
.subTitle {
  color: #fff;
  font-size: 3rem;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

/* line 47, ../sass/style.scss */
.voteColumn {
  margin-top: 12rem;
}

/* line 51, ../sass/style.scss */
.voteText {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin: 1rem;
}

/* line 56, ../sass/style.scss */
.vote {
  -moz-box-shadow: #712625 0px 2px 12px 2px;
  -webkit-box-shadow: #712625 0px 2px 12px 2px;
  box-shadow: #712625 0px 2px 12px 2px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  width: 10rem;
  height: 10rem;
  color: #fff;
  border: solid 5px;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  margin-bottom: 0.3rem;
}
/* line 67, ../sass/style.scss */
.vote:focus, .vote:active {
  -moz-box-shadow: #712625 0px 0px 0px 0px;
  -webkit-box-shadow: #712625 0px 0px 0px 0px;
  box-shadow: #712625 0px 0px 0px 0px;
  margin-top: 1.2rem;
  margin-bottom: 0.1rem;
}

/* line 74, ../sass/style.scss */
.upvotes {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-family: monospace;
}

/* line 79, ../sass/style.scss */
.convoContainer {
  -moz-box-shadow: #712625 0px 2px 12px 2px;
  -webkit-box-shadow: #712625 0px 2px 12px 2px;
  box-shadow: #712625 0px 2px 12px 2px;
  background-color: #EFFFE9;
  margin-top: 4rem;
  height: 45rem;
  overflow: hidden;
}

/* line 87, ../sass/style.scss */
.context {
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
  background-color: #30A9DE;
  padding: 1rem;
}

/* line 94, ../sass/style.scss */
.convo {
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 1rem;
  height: 38rem;
}

/* line 102, ../sass/style.scss */
.line {
  font-family: "HelveticaLight";
  word-wrap: break-word;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  max-width: 74%;
}

/* line 111, ../sass/style.scss */
.you {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: #0B93F6;
  border-radius: 25px;
  float: right;
  margin-right: 1rem;
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}
/* line 14, ../sass/_mixins.scss */
.you:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid #0B93F6;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
/* line 26, ../sass/_mixins.scss */
.you:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

/* line 115, ../sass/style.scss */
.notYou {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
  float: left;
  margin-left: 1rem;
  font-weight: 700;
  text-align: left;
  text-align: -moz-left;
  text-align: -webkit-left;
}
/* line 49, ../sass/_mixins.scss */
.notYou:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}
/* line 60, ../sass/_mixins.scss */
.notYou:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

/* line 119, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 120, ../sass/style.scss */
i.em {
  margin-top: -4px;
}
